<% @comments.each do |comment| %>
	<p>
		<% if !comment.user.avatar.mini.url.nil? %>
			<%= image_tag comment.user.avatar.mini.url %>
		<% end %>
		<small>@<%= comment.user.username %>: </small>
		<%= comment.comment %>
        <% if !current_user.nil? && (comment.user.id == current_user.id) %>
		<%= link_to '删除', comment, remote:true, method: :delete, data: { confirm: '确认要删除该条评论?'},class:"btn btn-link btn-mini pull-right" %>
        <% end %>
    </p>
<% end %>
<%= paginate @comments, :params => {:controller => 'comments', :action => 'show'}, remote: true %>
