   <% if !signed_in? %>
   <a class="btn btn-link" data-toggle="modal" href="#loginModal">登录</a>&nbsp;
   <a class="btn btn-link" data-toggle="modal" href="#registerModal">注册</a>
   <%= link_to "留言", new_message_path, html_options = {id:"message-anchor", class:"btn btn-success btn-mini", :'data-toggle'=>"tooltip", :'data-placement'=>"bottom",:'data-original-title'=>"给我们留言，提出您宝贵建议，我们将会认真听取，因为我们立志要做宁夏体验度最好的网站，您的反馈将字如珠玑." } %>

   <!--login modal-->
   <div id="regSucModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myRegSucLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myRegSucLabel" class="text-center">恭喜您, 注册成功!</h3>
    </div>
    <div class="modal-body text-center">
        ^o^
    </div>
    <div class="modal-footer text-center">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关&nbsp;闭</button>
    </div>
</div>

<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">用户登录</h3>
    </div>
    <div class="modal-body">
        <%= form_for(user, url: { controller: "sessions", action: "create" } , remote:true, html: {id: "user_login",class: "form-horizontal"}) do |u| %>
        <div id="login_error_explanation" class="alert alert-error hide text-center">
        </div>
        <fieldset>
            <div class="control-group">
                <div class="controls input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <%= u.text_field :username, placeholder:"用户名", id:"login_user_name" %>
                </div>
            </div>
            <br>
            <div class="control-group">
                <div class="controls  input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <%= u.password_field :password, placeholder:"密码", id:"login_user_password" %>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input id="remember" type="checkbox" value="remeber">remeber me
                    </label>
                </div>
            </div>
        </fieldset>
        <% end %>
    </div>
    <div class="modal-footer centered">
        <button type="submit" class="btn btn-primary" form="user_login">登录</button>
    </div>
</div>
<!--register modal-->
<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="registerLabel">新用户注册</h3>
    </div>
    <div class="modal-body">
        <%= form_for(user, remote:true, html: {id: "user_register",class: "form-horizontal"}) do |u| %>
        <div id="error_explanation" class="alert alert-error hide">

        </div>
        <fieldset>
            <div id="control-group-username" class="control-group">
                <label class="control-label" for="username">用户名<strong class="text-error"><abbr title="必填项"> *</abbr></strong></label>
                <div class="controls">
                    <%=u.text_field :username, :placeholder=>"用户名"%>
                </div>
            </div>
            <div id="control-group-password" class="control-group">
                <label class="control-label" for="password">密码<strong class="text-error"><abbr title="必填项"> *</abbr></strong></label>
                <div class="controls">
                    <%=u.password_field :password, :placeholder=>"密码"%>
                </div>
            </div>
            <div id="control-group-password_confirmation" class="control-group">
                <label class="control-label" for="password_confirmation">再次确认密码<strong class="text-error"><abbr title="必填项"> *</abbr></strong></label>
                <div class="controls">
                    <%=u.password_field :password_confirmation, :placeholder=>"再次确认密码"%>
                </div>
            </div>
            <div id="control-group-email" class="control-group">
                <label class="control-label" for="mailbox">注册邮箱<strong class="text-error"><abbr title="必填项"> *</abbr></strong></label>
                <div class="controls">
                    <%=u.text_field :email, :placeholder=>"注册邮箱"%>
                </div>
            </div>
            <div id="control-group-phone" class="control-group">
                <label class="control-label" for="cellphone">手机号码<strong class="text-error"><abbr title="必填项"> *</abbr></strong></label>
                <div class="controls">
                    <%=u.text_field :phone, :placeholder=>"手机号码"%>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="button" id="sendSMS" class="btn">发送验证码</button>
                    <!--<%= link_to "发送验证码", id:"sendSMS", class:"btn" %>-->
                </div>
            </div>
            <div id="control-group-authcode" class="control-group">
                <label class="control-label" for="cellphone">验证码<strong class="text-error"><abbr title="必填项"> *</abbr></strong></label>
                <div class="controls">
                    <%= text_field "auth",  "authCode", :placeholder=>"验证码"%>
                    <%= hidden_field "auth", "hiddenAuthCode" %>
                </div>
            </div>
        </fieldset>
        <% end %>

    </div>
    <div class="modal-footer centered">
        <button type="submit" class="btn btn-primary" form="user_register">注册</button>
    </div>
</div>
<% else %>
<div>
    <!--<%= button_to "退出", signout_path , form_class:"no-margin" ,class:"btn btn-default"%>-->
    <!--<%= link_to current_user.username, class:"btn btn-link" %>-->
    <div class="btn-group">
        <%= link_to "退出", signout_path, class:"btn btn-info" %>
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <%= link_to(@user) do %>
                  <span class='icon-edit'></span> 个人资料
                <% end %>
            </li>
            <li><a href="#"><span class="icon-wrench"></span> 修改密码</a></li>
        </ul>
    </div>
    <%= link_to "留言", new_message_path, html_options = {id:"message-anchor", class:"btn btn-success btn-mini", :'data-toggle'=>"tooltip", :'data-placement'=>"bottom",:'data-original-title'=>"给我们留言，提出您宝贵建议，我们将会认真听取，因为我们立志要做宁夏体验度最好的网站，您的反馈将字如珠玑." } %>
</div>
<% end %>