
  <div class="slide-bar">
    <!--sponsor div-->
    <div class="container">  
      <ul class="thumbnails" style="margin-bottom: 0px;">
        <li class="span3">
          <a href="#" class="thumbnail"><img src="assets/images/spn/spn_ad_1.jpg" alt="spn_show" /></a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail"><img src="assets/images/spn/spn_ad_2.jpg" alt="spn_show" /></a>
        </li>    
        <li class="span3">
          <a href="#" class="thumbnail"><img src="assets/images/spn/spn_ad_3.jpg" alt="spn_show" /></a>
        </li> 
        <li class="span3">
          <a href="#" class="thumbnail"><img src="assets/images/spn/spn_ad_4.jpg" alt="spn_show" /></a>
        </li>                 
      </ul>
    </div>
    <p class="text-info text-center" style="margin-bottom: 0;"><strong>感谢以上企业对本站的大力支持</strong></p>
  </div>      

<!--news div-->

<div id="index_slide" class="banner">
  <ul>
    <li><img src="assets/images/index/slide/01.jpg" alt="prod_show" /></li>
    <li><img src="assets/images/index/slide/02.gif" alt="prod_show" /></li>
  </ul>
</div>
  <!--sections-->
  <div class="section">
    <div class="container modules">
      <legend>优 · 学</legend>
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span12">
            <%= link_to image_tag("images/index/edu/01.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
            <!--<a href="#prompt-slide" class="thumbnail" data-toggle="modal" ><img src="images/edu/edu_ad_1.jpg" alt="prod_show" /></a>-->
          </li>
        </ul>
        <ul class="thumbnails">
          <li class="span4">
            <%= link_to image_tag("images/edu/edu_ad_2.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/edu/edu_ad_3.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/edu/edu_ad_4.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
      </div>
      <p class="pull-right"><em><%= link_to "更多", education_path %></em></p>
      <hr>
    </div>
  </div>

  <!--sections-->
  <div class="section">
    <div class="container modules">
      <legend>优 · 肴</legend>
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span12">
            <%= link_to image_tag("images/index/cate/01.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
        <ul class="thumbnails">
          <li class="span4">
            <%= link_to image_tag("images/diet/2.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/diet/3.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/diet/4.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
      </div>
      <p class="pull-right"><em><%= link_to "更多", cate_path %></em></p>
      <hr>
    </div>
  </div>

  <!--sections-->
  <div class="section">
    <div class="container modules">
      <legend>优 · 游</legend>
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span12">
            <%= link_to image_tag("images/travel/1.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
        <ul class="thumbnails">
          <li class="span4">
            <%= link_to image_tag("images/travel/2.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/travel/3.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/travel/4.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
      </div>
      <p class="pull-right"><em><%= link_to "更多", tour_path %></em></p>
      <hr>
    </div>
  </div>

  <!--sections-->
  <div class="section">
    <div class="container modules">
      <legend>优 · 美</legend>
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span12">
            <%= link_to image_tag("images/index/beauty/01.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
        <ul class="thumbnails">
          <li class="span4">
            <%= link_to image_tag("images/health/2.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/health/3.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/health/4.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
      </div>
      <p class="pull-right"><em><%= link_to "更多", beauty_path %></em></p>
      <hr>
    </div>
  </div>

  <!--sections-->
  <div class="section">
    <div class="container modules">
      <legend>优 · 品</legend>
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span12">
            <%= link_to image_tag("images/onlineshop/1.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
        <ul class="thumbnails">
          <li class="span4">
            <%= link_to image_tag("images/onlineshop/2.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/onlineshop/3.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/onlineshop/4.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
      </div>
      <p class="pull-right"><em><%= link_to "更多", fab_path %></em></p>
      <hr>
    </div>
  </div>

  

  <!--sections-->
  <div class="section">
    <div class="container modules">
      <legend>优 · 秀</legend>
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span12">
            <%= link_to image_tag("images/witness/1.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
        <ul class="thumbnails">
          <li class="span4">
            <%= link_to image_tag("images/witness/2.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/witness/3.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/witness/4.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
      </div>
      <p class="pull-right"><em><%= link_to "更多", show_path %></em></p>
      <hr>
    </div>
  </div>

  <!--sections-->
  <div class="section">
    <div class="container modules">
      <legend>优 · 居</legend>
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span12">
            <%= link_to image_tag("images/house/1.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
        <ul class="thumbnails">
          <li class="span4">
            <%= link_to image_tag("images/house/2.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/house/3.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/house/4.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
      </div>
      <p class="pull-right"><em><%= link_to "更多", decoration_path %></em></p>
      <hr>
    </div>
  </div>
  

  <!--sections-->
  <div class="section">
    <div class="container modules">
      <legend>优 · 惠</legend>
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span4">
            <%= link_to image_tag("images/sos/1.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/sos/2.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/sos/3.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>                      
        <ul class="thumbnails">
          <li class="span4">
            <%= link_to image_tag("images/sos/4.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/sos/5.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
          <li class="span4">
            <%= link_to image_tag("images/sos/6.jpg"), slide_modal_path, class:"thumbnail", remote:true %>
          </li>
        </ul>
      </div>
      <p class="pull-right"><em><%= link_to "更多", promotion_path %></em></p>
      <hr>
    </div>
  </div>

<script type="text/javascript">
$('#index_slide').unslider({
  fluid: true,
  keys: true,               //  Enable keyboard (left, right) arrow shortcuts
  dots: true
});
</script>