<%= form_for(@image, remote:true,  html: { class:"form-horizontal" }) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <ul>
        <% @image.errors.each do |attribute, msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <div class="controls">
      <% if !@image.instance.thumb.url.nil? %>
        <%= image_tag  @image.instance.thumb.url %>
      <% end %>
    </div>
  </div>

  <hr>
  <div class="field control-group">
    <%= f.label "图片名称", class:"control-label" %>
    <div class="controls">
      <%= f.text_field :image_name %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label "所属组名", class:"control-label" %>
    <div class="controls">
      <%= f.number_field :group_id %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label "是否生效", class:"control-label" %>
    <div class="controls">
      <%= f.check_box :enabled %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label "存储位置", class:"control-label" %>
    <div class="controls">
      <%= f.text_field :location %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label "关键字", class:"control-label" %>
    <div class="controls">
      <%= f.text_field :key_word %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label "图片描述", class:"control-label" %>
    <div class="controls">
      <%= f.text_field :desc %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label "权重因子", class:"control-label" %>
    <div class="controls">
      <%= f.number_field :weight_factor %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label "上传图片", class:"control-label" %>
    <div class="controls">
      <%= f.file_field :instance %>
    </div>
  </div>
  <div class="actions control-group">
    <div class="controls">
      <%= f.submit "提交",  remote:true, class:"btn btn-warning" %>
      <%= link_to "返回", conroller:"images", action:"index", remote: true %>      
    </div>
  </div>
<% end %>

