<h1>Listing images</h1>

<table>
  <tr>
    <th>Image id</th>
    <th>Image name</th>
    <th>Group</th>
    <th>Enabled</th>
    <th>Location</th>
    <th>Key word</th>
    <th>Desc</th>
    <th>Weight factor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.id %></td>
    <td><%= image.image_name %></td>
    <td><%= image.group_id %></td>
    <td><%= image.enabled %></td>
    <td><%= image.location %></td>
    <td><%= image.key_word %></td>
    <td><%= image.desc %></td>
    <td><%= image.weight_factor %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
